{%- liquid
  case section.settings.image_height
    when 'fits_viewport'
      assign content_height_class = 'h-fits-viewport'
    when 'adapt_to_image'
      if section.settings.fixed_height
        assign container_extra_class = 'fixed-height'
      else
        assign container_extra_class = 'adapt-to-image'
      endif
    when 'large'
      assign container_extra_class = 'fixed-height-large'
    when 'medium'
      assign container_extra_class = 'fixed-height-medium'
    when 'small'
      assign container_extra_class = 'fixed-height-small'
  endcase
-%}

{%- comment -%} 不选择适应视窗宽高时，默认裁剪 {%- endcomment -%}
{%- liquid
  if section.settings.image_height != 'fits_viewport'
    assign img_container_class = 'img-container'
    assign content_height_class = 'content-min-height'
    if section.settings.fixed_height == false and section.settings.image_height == 'adapt_to_image'
      assign img_container_class = ''
      assign content_height_class = 'proportional-scaling'
    endif
  endif
-%}

{%- comment -%} 定义Banner外容器宽度 {%- endcomment -%}
{%- liquid
  assign container_class = 'container-fluid'
  if section.settings.fixed_height == false and section.settings.image_height == 'adapt_to_image'
    assign container_class = 'container-topic'
  endif

  if section.settings.image_height == 'fits_viewport'
    assign container_class = 'container-topic'
  endif
-%}

{%- comment -%} 读取高级配置项Tablet image block和Section style block{%- endcomment -%}
{%- liquid
  assign tablet_image_block = section.blocks | where: 'type', 'tablet_image' | first
-%}

{%- comment -%} 选择定高并选择适应图片比例 {%- endcomment -%}
{%- if section.settings.fixed_height == true and section.settings.image_height == 'adapt_to_image' -%}
  {%- style -%}
    .banner-{{ section.id }} .fixed-height {
      {%- if section.settings.desktop_image != blank -%}
        {%- if section.settings.desktop_image contains "2x" -%}
          --image-height: {{ section.settings.desktop_image.height | divided_by: 2 }}px;
        {%- else -%}
          --image-height: {{ section.settings.desktop_image.height }}px;
        {%- endif -%}
      {%- endif -%}

      {%- if tablet_image_block.settings.tablet_image != blank -%}
        {%- if tablet_image_block.settings.tablet_image contains "2x" -%}
          --image-tablet-height: {{ tablet_image_block.settings.tablet_image.height | divided_by: 2 }}px;
        {%- else -%}
          --image-tablet-height: {{ tablet_image_block.settings.tablet_image.height }}px;
        {%- endif -%}
      {%- endif -%}

      {%- if section.settings.mobile_image != blank -%}
        {%- if section.settings.mobile_image contains "2x" -%}
          --image-mob-height: {{ section.settings.mobile_image.height | divided_by: 2 }}px;
        {%- else -%}
          --image-mob-height: {{ section.settings.mobile_image.height }}px;
        {%- endif -%}
      {%- endif -%}
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  .banner-{{ section.id }} {
    {%- if section.settings.desktop_image != blank -%}
      --desktop-img-aspect-ratio: {{ section.settings.desktop_image.aspect_ratio }};
      --desktop-img-aspect-ratio-percentage: {{ 1 | divided_by: section.settings.desktop_image.aspect_ratio | times: 100 }}%;
    {%- endif -%}

    {%- if tablet_image_block.settings.tablet_image != blank -%}
      --tablet-img-aspect-ratio: {{ tablet_image_block.settings.tablet_image.aspect_ratio }};
      --tablet-img-aspect-ratio-percentage: {{ 1 | divided_by: tablet_image_block.settings.tablet_image.aspect_ratio | times: 100 }}%;
    {%- endif -%}

    {%- if section.settings.mobile_image != blank -%}
      --mobile-img-aspect-ratio: {{ section.settings.mobile_image.aspect_ratio }};
      --mobile-img-aspect-ratio-percentage: {{ 1 | divided_by: section.settings.mobile_image.aspect_ratio | times: 100 }}%;
    {%- endif -%}
  }
{%- endstyle -%}

{%- comment -%}当布局为居中时，不以栅格来限制文本区的宽度，否则限制为 6 个栅格{%- endcomment -%}
{%- liquid
  assign text_col_count = 'col-md-' | append: section.settings.content_width | append: ' col-auto'

  case section.settings.desktop_content_position
    when 'top_left'
      assign desktop_content_position = 'align-items-md-start justify-content-md-start'
    when 'top_center'
      assign desktop_content_position = 'align-items-md-start justify-content-md-center'
    when 'top_right'
      assign desktop_content_position = 'align-items-md-start justify-content-md-end'
    when 'middle_left'
      assign desktop_content_position = 'align-items-md-center justify-content-md-start'
    when 'middle_center'
      assign desktop_content_position = 'align-items-md-center justify-content-md-center'
    when 'middle_right'
      assign desktop_content_position = 'align-items-md-center justify-content-md-end'
    when 'bottom_left'
      assign desktop_content_position = 'align-items-md-end justify-content-md-start'
    when 'bottom_center'
      assign desktop_content_position = 'align-items-md-end justify-content-md-center'
    when 'bottom_right'
      assign desktop_content_position = 'align-items-md-end justify-content-md-end'
    else
      assign desktop_content_position = ''
      assign text_col_count = ''
  endcase
%}

{%- liquid
  case section.settings.mobile_content_position
    when 'top'
      assign mobile_content_position = 'align-items-start'
    when 'center'
      assign mobile_content_position = 'align-items-center'
    when 'bottom'
      assign mobile_content_position = 'align-items-end'
    else
      assign mobile_content_position = ''
  endcase
%}

{%- liquid
  case section.settings.desktop_content_alignment
    when 'left'
      assign text_alignment = 'text-md-start ms-md-0 me-md-auto'
    when 'center'
      assign text_alignment = 'text-md-center mx-md-auto'
    when 'right'
      assign text_alignment = 'text-md-end ms-md-auto me-md-0'
    else
      assign text_alignment = ''
  endcase

  case section.settings.mobile_content_alignment
    when 'left'
      assign text_alignment = text_alignment | append: ' text-start ms-0 me-auto'
    when 'center'
      assign text_alignment = text_alignment | append: ' text-center mx-auto'
    when 'right'
      assign text_alignment = text_alignment | append: ' text-end ms-auto me-0'
    else
      assign text_alignment = text_alignment | append: ''
  endcase
%}

{%- comment -%} 控制上下外间距以及覆盖文本块内边距 {%- endcomment -%}

{%- capture section_outer_vertical_space -%}
  {%- render 'section-space',
    section_margin_top: section.settings.section_margin_top,
    section_margin_bottom: section.settings.section_margin_bottom,
  -%}
{%- endcapture -%}
  
{%- capture section_inner_vertical_space -%}
  {%- render 'section-space',
    section_padding_vertical: section.settings.section_padding,
  -%}
{%- endcapture -%}

<div class="banner-{{ section.id }} {{ section_outer_vertical_space }} {% render 'color-schema', color_schema: section.settings.color_schema %}">
  <div class="{{ container_class }} {{ container_extra_class }} px-0 position-relative wrapper">
    <div class="{{ img_container_class }} absolute-center bg-gray-300">
      <div class="img-wrapper h-100 rigid-wrapper">
        <picture class="d-none {% if tablet_image_block.settings.tablet_image != blank %}d-lg-block{% else %}d-md-block{% endif %}">
          {%- if section.settings.desktop_image != blank -%}
            {%- case section.settings.image_height -%}
              {%- when 'fits_viewport' -%}
                {%- comment -%} 屏幕断点>=768px或>1024px，图片宽度最大为5760px {%- endcomment -%}
                {{ section.settings.desktop_image | image_url: width: 2048 | image_tag: class: 'object-fit-cover', loading: 'lazy' }}
              {%- when 'adapt_to_image' -%}
                {%- if section.settings.fixed_height -%}
                  {%- render 'img-fixed-height', 
                    image: section.settings.desktop_image,
                  -%}
                {%- else -%}
                  {%- comment -%} 屏幕断点>=768px或>1024px，图片宽度最大为5760px {%- endcomment -%}
                  {{ section.settings.desktop_image | image_url: width: 2400 | image_tag: class: 'object-fit-cover', loading: 'lazy' }}
                {%- endif -%}
              {%- when 'large' -%}
                {%- render 'img-fixed-height', 
                  image: section.settings.desktop_image,
                -%}
              {%- when 'medium' -%}
                {%- render 'img-fixed-height', 
                  image: section.settings.desktop_image,
                -%}
              {%- when 'small' -%}
                {%- render 'img-fixed-height', 
                  image: section.settings.desktop_image,
                -%}
            {%- endcase -%}
          {%- else -%}
            <div class="object-fit-cover img-placeholder h-100">
              {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg h-100 w-100' }}
            </div>
          {%- endif -%}
        </picture>
        {%- comment -%} 平板端图片属于高级配置 {%- endcomment -%}
        {%- if tablet_image_block.settings.tablet_image != blank -%}
          <picture class="d-none d-md-block d-lg-none">
            {%- case section.settings.image_height -%}
              {%- when 'fits_viewport' -%}
                {%- comment -%} 屏幕断点>=768px且<=1024px，可选择增加平板端图片，图片宽度最大=1024px * 像素密度DPR（暂定2.0，应该够用）  {%- endcomment -%}
                {{ tablet_image_block.settings.tablet_image | image_url: width: 2048 | image_tag: class: 'object-fit-cover', loading: 'lazy' }}
              {%- when 'adapt_to_image' -%}
                {%- if section.settings.fixed_height -%}
                  {%- render 'img-fixed-height', 
                    image: tablet_image_block.settings.tablet_image,
                  -%}
                {%- else -%}
                  {%- comment -%} 屏幕断点>=768px且<=1024px，可选择增加平板端图片，图片宽度最大=1024px * 像素密度DPR（暂定2.0，应该够用）  {%- endcomment -%}
                  {{ tablet_image_block.settings.tablet_image | image_url: width: 2400 | image_tag: class: 'object-fit-cover', loading: 'lazy' }}
                {%- endif -%}
              {%- when 'large' -%}
                {%- render 'img-fixed-height', 
                  image: tablet_image_block.settings.tablet_image,
                -%}
              {%- when 'medium' -%}
                {%- render 'img-fixed-height', 
                  image: tablet_image_block.settings.tablet_image,
                -%}
              {%- when 'small' -%}
                {%- render 'img-fixed-height', 
                  image: tablet_image_block.settings.tablet_image,
                -%}
            {%- endcase -%}
          </picture>
        {%- endif -%}
        <picture class="d-block d-md-none">
          {%- if section.settings.mobile_image != blank -%}
            {%- case section.settings.image_height -%}
              {%- when 'fits_viewport' -%}
                {%- comment -%} 屏幕断点<768px，图片宽度最大=767px * 像素密度DPR（暂定3.0，应该够用），取整2400px  {%- endcomment -%}
                {{ section.settings.mobile_image | image_url: width: 2400 | image_tag: class: 'object-fit-cover', loading: 'lazy' }}
              {%- when 'adapt_to_image' -%}
                {%- if section.settings.fixed_height -%}
                  {%- render 'img-fixed-height', 
                    image: section.settings.mobile_image,
                  -%}
                {%- else -%}
                  {%- comment -%} 屏幕断点<768px，图片宽度最大=767px * 像素密度DPR（暂定3.0，应该够用），取整2400px  {%- endcomment -%}
                  {{ section.settings.mobile_image | image_url: width: 2400 | image_tag: class: 'object-fit-cover', loading: 'lazy' }}
                {%- endif -%}
              {%- when 'large' -%}
                {%- render 'img-fixed-height', 
                  image: section.settings.mobile_image,
                -%}
              {%- when 'medium' -%}
                {%- render 'img-fixed-height', 
                  image: section.settings.mobile_image,
                -%}
              {%- when 'small' -%}
                {%- render 'img-fixed-height', 
                  image: section.settings.mobile_image,
                -%}
            {%- endcase -%}
          {%- else -%}
            <div class="object-fit-cover img-placeholder h-100">
              {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg h-100 w-100' }}
            </div>
          {%- endif -%}
        </picture>
      </div>
    </div>

    {%- if section.blocks.size > 0 -%}
      <div class="{{ content_height_class }} position-relative d-flex">
        {%- comment -%} 判断是否允许图片全宽 {%- endcomment -%}
        {%- liquid
          if section.settings.enable_full_width
            assign content_container_class = 'container-fluid'
            assign content_padding_class = 'px-3 py-4 p-md-4 p-lg-6'
          else
            assign content_container_class = 'container'
            assign content_padding_class = 'px-3 py-4 p-md-4 px-lg-5 py-lg-6'
          endif
        -%}
        <div class="as-subscribe-event {{ content_container_class }}">
          <div class="h-100 row {{ mobile_content_position }} justify-content-center {{ desktop_content_position }}">    
            <div class="col {{ text_col_count }}">
              <div class="as-anim anim {{ text_alignment }} {{ content_padding_class }} {{ section_inner_vertical_space }} {% if section.settings.enable_full_width %}px-lg-6{% else %}px-lg-5{% endif %}">
                <div class="hero-text-shadow-overlay-{{ section.id }} text-content">
                {%- for block in section.blocks -%}
                  {%- case block.type -%}
                    {%- when 'overline' -%}
                      {%- if block.settings.overline != blank -%}
                        <p class="overline fs-5 mb-4 text-on-secondary-a">{{ block.settings.overline }}</p>
                      {%- endif -%}
                    {%- when 'heading' -%}
                      {%- if block.settings.heading != empty -%}
                        <h2 class="heading {{ block.settings.heading_size }} mb-2 text-surface">{{ block.settings.heading }}</h2>
                      {%- endif -%}
                    {%- when 'text' -%}
                      {%- if block.settings.text != blank -%}
                        <div class="description mb-md-4 mb-3 richtext-with-link text-surface">
                          {%- assign description = block.settings.text -%}
                          {%- if block.settings.highlight_style == 'enlarge' -%}
                            {{ description | replace: '<strong', '<strong class="enlarge"' }}
                          {%- elsif block.settings.highlight_style == 'colored' -%}
                            {%- capture processed_copy -%}
                              {%- render 'process-bold-text-within-link', richtext: description -%}
                            {%- endcapture -%}
                            {{ processed_copy | replace: '<strong', '<strong class="colored-text"' }}
                          {%- else -%}
                            {{ description }}
                          {%- endif -%}
                        </div>
                      {%- endif -%}
                      <form class="as-event-newsletter w-100" method="POST" action="{{ section.settings.subscribe_api }}">
                        {%- comment -%} 谷歌防刷认证 {%- endcomment -%}
                        <google-recaptcha data-container-class="as-verify-code-recaptcha"></google-recaptcha>
                        <div class="d-flex flex-column justify-content-center align-items-start">
                          <div class="form-group mb-md-4 mb-2 w-100 d-flex">
                            <input type="email" class="as-form-input form-control" maxlength="255" 
                              name="email" id="subscription_email" placeholder="{{ 'general.subscribe.placeholder' | t }}"
                              pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$"
                              data-label="Email address" data-category="RM 8Pro Launch Campagin"
                              data-type="Click" required=""/>
                            <input class="as-game-store" type="hidden" name="store" value="{{ shop.domain }}">
                            <input class="as-is-game" type="hidden" name="is_gaming" value="false">

                            {%- if section.settings.subscribe_tag != empty -%}                        
                              <input class="as-event-form-tag" type="hidden" name="tag" value="{{ section.settings.subscribe_tag }}">
                            {%- endif -%}

                            {%- liquid
                              assign button_style = 'icon_btn'
                              assign button_theme = 'default'
                              assign button_icon = 'arrow_right'
                            -%}

                            {%- capture button_class -%}
                              {%- render 'button-class',
                                button_type: 'button',
                                button_style: button_style,
                                button_theme: button_theme,
                                button_size: 'sm'
                              -%}
                            {%- endcapture -%}
                            
                            <button type="submit" data-label="Subscribe Button" data-category="RM 8Pro Launch Campagin"
                              data-type="Click" class="{{ button_class }} text-surface border-0 bg-transparent mt-2">
                              {%- render 'button-content',
                                button_type: 'button',
                                button_label: 'Subscribe',
                                button_style: button_style,
                                button_icon: button_icon,
                              -%}
                            </button>
                          </div>
                          {%- when 'note' -%}
                            {%- if block.settings.note != blank -%}
                              <div id="subscribe-note" class="fs-footnote text-on-surface-4">{{ block.settings.note | replace: '<p', '<p class="note mb-0"' }}</div>
                            {%- else -%}
                              <div class="form-pristine position-relative">
                                <div class="form-check input-pristine">
                                  <input class="form-check-input" checked type="checkbox" id="subscribe-policy" name="privacy_policy" value="privacy_policy">
                                  <label for="subscription-privacy_policy" class="form-check-label fs-footnote text-on-surface-4">{{ 'general.policy.accept_policy_html' | t }}</label><br>  
                                </div>
                              </div>
                              <div class="as-tips-disaccept d-none text-danger fs-footnote mt-2">{{ 'general.policy.tips_for_not_accepting_policy' | t }}</div>
                            {%- endif -%}
                          <div class="as-tips-success d-none text-success fs-footnote mt-2">{{ 'general.subscribe.success_tips' | t }}</div>
                          <div class="as-tips-error d-none text-danger fs-footnote mt-2">{{ 'general.subscribe.error_tips' | t }}</div> 
                          <div class="as-tips-exist d-none text-danger fs-footnote mt-2">{{ 'general.subscribe.repeat_tips' | t }}</div>
                        </div>
                      </form>
                  {%- endcase -%}
                {%- endfor -%}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Subscribe banner",
  "class": "subscribe-banner text-over-image as-section-text-over-image as-8pro-subscribe-banner bg-white",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "SUBSCRIBE"
    },
    {
      "type": "text",
      "id": "subscribe_api",
      "label": "Subscribe API"
    },
    {
      "type": "text",
      "id": "subscribe_tag",
      "label": "Subscribe tag"
    },
    {
      "type": "header",
      "content": "IMAGE"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop image",
      "info": "3840px x auto .jpg recommended."
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image",
      "info": "960px x auto .jpg recommended."
    },
    {
      "type": "select",
      "id": "image_height",
      "label": "Banner height",
      "options": [
      {
        "value": "adapt_to_image",
        "label": "Adapt to image"
      },
      {
        "value": "fits_viewport",
        "label": "Fits viewport"
      },
      {
        "value": "small",
        "label": "Small"
      },
      {
        "value": "medium",
        "label": "Medium"
      },
      {
        "value": "large",
        "label": "Large"
      }
      ],
      "default": "adapt_to_image"
    },
    {
      "type": "checkbox",
      "id": "fixed_height",
      "label": "Fixed height",
      "default": true
    },
    {
      "type": "header",
      "content": "DESKTOP LAYOUT"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "label": "Content position",
      "options": [
        {
          "value": "top_left",
          "label": "Top left"
        },
        {
          "value": "top_center",
          "label": "Top center"
        },
        {
          "value": "top_right",
          "label": "Top right"
        },
        {
          "value": "middle_left",
          "label": "Middle left"
        },
        {
          "value": "middle_center",
          "label": "Middle center"
        },
        {
          "value": "middle_right",
          "label": "Middle right"
        },        
        {
          "value": "bottom_left",
          "label": "Bottom left"
        },
        {
          "value": "bottom_center",
          "label": "Bottom center"
        },
        {
          "value": "bottom_right",
          "label": "Bottom right"
        }
      ],
      "default": "middle_center"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "label": "Content alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "content_width",
      "label": "Content width",
      "unit": "/12",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 6
    },
    {
      "type": "header",
      "content": "MOBILE LAYOUT"
    },
    {
      "type": "select",
      "id": "mobile_content_position",
      "label": "Content position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },     
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "label": "Content alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Advanced settings"
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "Enable full width",
      "default": false
    },
    {
      "type": "select",
      "id": "color_schema",
      "label": "Color schema",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "dark",
          "label": "Dark"
        },
        {
          "value": "colored",
          "label": "Colored"
        }
      ],
      "default": "default"
    },
    {
      "type": "header",
      "content": "Space"
    },
    {
      "type": "select",
      "id": "section_margin_top",
      "label": "Section top space",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "section_margin_bottom",
      "label": "Section bottom space",
      "options": [
        {
          "value": "",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "section_padding",
      "label": "Section inner space",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "none"
    }
  ],
  "blocks": [
    {
      "type": "overline",
      "name": "Overline",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "overline",
          "label": "Overline"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Always Stay Updated!",
          "label": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Font size",
          "options": [
            {
              "value": "heading-medium",
              "label": "Medium"
            },
            {
              "value": "heading-large",
              "label": "Large"
            },
            {
              "value": "heading-extra-large",
              "label": "Extra large"
            }
          ],
          "default": "heading-large",
          "info": "h4 - 32px, h3 - 48px, h2 - 64px"
        }
      ]
    },
    {
      "type": "text",
      "name": "Description",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Be the first to know about new collections and exclusive offers.</p>",
          "label": "Description"
        },
        {
          "type": "select",
          "id": "highlight_style",
          "label": "Highlight style",
          "options": [
            {
              "value": "bold",
              "label": "Bold"
            },
            {
              "value": "enlarge",
              "label": "Enlarge"
            },
            {
              "value": "colored",
              "label": "Colored"
            }
          ],
          "default": "bold",
          "info": "Enlarge加粗且放大字号，Colored加粗且变品牌色"
        }
      ]
    },
    {
      "type": "note",
      "name": "Note",
      "settings": [
        {
          "type": "richtext",
          "id": "note",
          "default": "<p>I agree to privacy policy and consent to receiving marketing communication.</p>",
          "label": "Note",
          "info": "备注"
        }
      ]
    },
    {
      "type": "tablet_image",
      "name": "Tablet image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "tablet_image",
          "label": "Tablet image",
          "info": "2048px x auto .jpg recommended."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Subscribe banner",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "note"
        }
      ]
    }
  ]
}
{% endschema %}